<footer class="footer">
  <div class="container">
    <p class="text-muted">
    <nav>
      <ul>
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><%= link_to "Blog", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>